@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Oswald&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}


body{
    margin-top: 100px;
    background-image: url("../images/new.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.container{
    height: 100%;
}

.left-info{
    height: 100vh;
    width: 20%;
    position: fixed;
    float:left;
}

.right-info{
    min-height: 100vh;
    float: right;
    width: 60%;
}

img {
    padding: 10px;
    background: whitesmoke;
    border: 2px solid crimson;

}

.d-flex-btn .d-flex-input{
    margin: auto;
}

.btn{
    margin: 5px;
}

button{
    margin: 5px;
}



